::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.animation {
  overflow-x: hidden;
  font-family: "Montserrat" !important;
}

.page-title {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
  animation: moveRight 0.5s ease-out;
  cursor: pointer;
  font-family: "Montserrat" !important;
}

